@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Avenir";
  src: url("./assets/fonts/avenir.otf");
}

h1,
h2,
h4,
input,
button {
  font-family: Avenir;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

span {
  font-family: "Roboto", sans-serif;
}
$button-bg-color: #348aa7;
$button-border-color: #166e84;

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  .content1 {
    .logo-name {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100px;
      background-color: #f5f5f5;
      .logo {
        width: 100px;
        height: 100px;
      }
      h1 {
        font-size: 30px;
        font-weight: bold;
        color: #000;
        font-family: Avenir;
      }
    }
    .text-photo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      .unu {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100%;
        .text {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 20px;
          width: 100%;
          h3 {
            text-indent: 10px;
            line-height: 1.4;
            letter-spacing: 0.3px;
            &::first-letter {
              font-size: 200%;
            }
          }
        }
        .photo {
          background-image: url("./assets/images/poza1.jpg");
          background-size: cover;
          background-position: center;
          width: 100%;
          height: 50%;
          margin: 25px;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
      .doi {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        height: 100%;
        .text {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 20px;
          width: 100%;
          h3 {
            text-indent: 10px;
            line-height: 1.2;
            letter-spacing: 0.3px;
            &::first-letter {
              font-size: 200%;
            }
          }
        }
        .photo {
          background-image: url("./assets/images/poza2.jpeg");
          background-size: cover;
          background-position: center;
          width: 100%;
          height: 75%;
          margin: 25px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }
    }
  }
  .content2 {
    display: flex;
    flex-direction: column;
    .image {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 600px;
      height: 500px;
    }
    :nth-child(1) {
      background-image: url("./assets/images/nush1.png");
    }
    :nth-child(2) {
      background-image: url("./assets/images/nush2.png");
    }
    :nth-child(3) {
      background-image: url("./assets/images/nush3.png");
    }
  }
}

hr {
  width: 50%;
  height: 5px;
  background-color: black;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

.prof-header {
  //center the text
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  h1 {
    font-size: 60px;
    font-weight: bold;
    color: #000;
    margin-bottom: 2.5rem;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
    // nice gray color
    color: #828282;
    margin-bottom: 2rem;
  }
}

.professors {
  // 3 items on a row , flex box
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  .professor {
    display: flex;
    flex: 0 0 33%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    &:nth-child(1) {
      .professor-photo {
        background-image: url("./assets/images/profesori/lucian.jpg");
      }
    }
    &:nth-child(2) {
      .professor-photo {
        background-image: url("./assets/images/profesori/nicoleta.jpeg");
      }
    }
    &:nth-child(3) {
      .professor-photo {
        background-image: url("./assets/images/profesori/unknown2.png");
      }
    }
    &:nth-child(4) {
      .professor-photo {
        background-image: url("./assets/images/profesori/unknown.png");
      }
    }
    &:nth-child(5) {
      .professor-photo {
        background-image: url("./assets/images/profesori/unknown1.png");
      }
    }
    &:nth-child(6) {
      .professor-photo {
        background-image: url("./assets/images/profesori/unknown3.png");
      }
    }
    .professor-name {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
    .professor-photo {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .professor-faculty {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
  }
}

.faculties {
  display: flex;
  flex-direction: column;
  .faculties-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
    hr {
      margin: 0;
      margin-left: 1rem;
    }
    h1 {
      font-size: 60px;
      font-weight: bold;
      color: #000;
    }
  }

  .faculties-list {
    margin-top: 7rem;
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      li {
        display: flex;
        flex-direction: column;
        padding: 20px;
        //display 5 items on a row with flex basis
        flex-basis: calc(100% / 5 - 20px);
        margin: 10px;
        justify-content: center;
        align-items: center;
        // nice gray rounded border
        border: 2px solid #c0c0c0;
        border-radius: 10px;
        .name-check {
          display: flex;
          flex-direction: row;
          h4 {
            text-align: center;
          }
        }
        p {
          display: none;
        }
        h3 {
          display: none;
        }
        span {
          display: none;
          text-align: center;
        }
        &:hover,
        &:focus,
        &:active {
          p {
            display: block;
          }
          h3 {
            display: block;
          }
          span {
            display: block;
          }
        }
        svg {
          color: green;
          font-size: 25px;
          margin-left: 8px;
        }
        h4 {
          font-size: 20px;
          font-weight: bold;
          //light gray
          color: #c0c0c0;
        }
      }
    }
  }
}

.sponsors {
  display: flex;
  flex-direction: column;
  .sponsors-list {
    margin-top: 10rem;
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      li {
        margin: 20px;
      }
    }
  }
  .sponsors-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
    hr {
      margin: 0;
      margin-left: 1rem;
    }
    h1 {
      font-size: 60px;
      font-weight: bold;
      color: #000;
    }
  }
}

.logo {
  background-image: url("./assets/images/logo.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

//form
.formm {
  //center the form
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
  h2 {
    font-size: 50px;
    font-weight: bold;
    color: #000;
    margin-bottom: 5rem;
  }
  form {
    display: flex;
    flex-direction: column;
    input {
      margin: 0.5rem;
      padding: 10px 7px;
      outline: none;
      border: none;
      border-bottom: 2px solid black;
      font-size: 1rem;
      font-weight: bold;
      color: #000;
      transition: 0.25s;
      &:focus,
      &:active,
      &:hover {
        border-bottom: 2px solid green;
      }
    }
  }
  button {
    margin-top: 3rem;
    display: inline-block;
    padding: 15px;
    margin-right: 5px;
    height: 50px;
    min-width: 100px;
    background: $button-bg-color;
    border: none;
    outline: none;
    color: white;
    font-family: inherit;
    font-weight: 400;
    font-size: 20px;
    border-radius: 3px;
    box-shadow: 0 5px 0px darken($button-bg-color, 0%);
    border-bottom: 2px solid darken($button-bg-color, 3%);

    &:hover {
      background: darken($button-bg-color, 5%);
      box-shadow: 0 4px 1px darken($button-bg-color, 5%);
      border-bottom: 2px solid darken($button-bg-color, 8%);
      transition: all 0.1s ease-in;
    }

    &:active {
      transform: translateY(4px);
      border-bottom-width: 2px;
      box-shadow: none;
    }
  }
}
